/*  Header  */
body{
    margin: 0 0 0 0;
}
header{
	width: 100%;
	height: 100px;
	background: #f4c995;
	background-color: rgba (255, 255, 255, .1);
	position: fixed;
	z-index: 9999;
}

header .h_logo{
	float: left;
	margin-top: 20px;
	
}

header nav{
	float: right;
	margin-top: 42px;
	overflow: hidden;
}

header nav ul li{
	float: left;
	margin-left: 30px;
}

header nav ul li a{
	text-decoration: none;
	font-family: 'LatoBold', arial;
	font-weight: bold;
	font-size: 16px;
	color: #fef8f1;
	letter-spacing: 1px;
}

header nav ul li a:hover{
	color: #ffffff;
}

/*  General CSS*/
.wrapper{
	width: 1060px;
	height: auto;
	margin: 0 auto;
}

footer nav ul li a,
footer .rights a,
header nav ul li a,
.call_to_action a.cta_btn,
.testimonials a.author,
.newsletter .submit_nl{
	transition: .2s linear;
	-webkit-transition: .2s linear;
	-moz-transition: .2s linear;
	-o-transition: .2s linear;
}

@font-face {
    font-family: 'Cutrims';
    src: url('../Cutrims_Regular');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'glaresome';
    src: url('../glaresome');
    font-weight: normal;
    font-style: normal;
}

html {
    background: linear-gradient(135deg,#3b0d4a 0%,#7b1733 100%);
    font-family: 'Raleway', sans-serif;
    overflow-y: scroll;
}
#profile-wrap {
    position: absolute;
    margin: 0 auto;
    top: 10; bottom: 0; left: 0; right: 0;
    text-align: center;
    height: 460px;
    width: 450px;
    z-index: 5;
}
.profile-overlay {
    position: absolute;
    margin: 0 auto;
    margin-top: 10px;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: 2;
    border-radius: 50%;
    display: block;
    width: 280px;
    height: 280px;
    -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
       -moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
            box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
}
.profile-image {
    position: absolute;
    margin: 0 auto;
    margin-top: 10px;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: 0;
    display: block;
    height: 280px;
    width: 280px;
    border-radius: 50%;
    background: url(http://goltermann.design/wp-content/themes/goltermann/images/jaschagoltermann.png) 0 -30px;
    background-size: 100%;
    overflow: hidden;
    transition: all ease 0.3s;
}
#profile-wrap:hover .profile-image {
    background-position: 0 -29px;
    border-radius: 0;
    margin-top: -15px;
    height: 460px;
    width: 320px;
    z-index: 1;
}
#profile-wrap:hover .profile-name h2 {
    font-size: 36px;
    margin-top: 280px;
}

#profile-wrap:hover .profile-name h2 span {
    opacity: 0;
}
#profile-wrap:hover .profile-social {
    opacity: 1;
    margin-top: -35px;
}
#profile-wrap:hover .pulse1{
    border: 2px solid rgba(255, 255, 255, 0);
    box-shadow: inset 0px 0px 15px 10px rgba(0, 0, 0, 0);
}
#profile-wrap:hover .pulse2{
    border: 10px solid rgba(0, 0, 0, 0);
    box-shadow: inset 0px 0px 12px 5px rgba(255, 255, 255, 0);
}

.profile-name h2 {
    position: relative;
    padding: 15px;
    text-transform: uppercase;
    font-size: 46px;
    font-weight: 800;
    color: #fff;
    margin: 0;
    margin-top: 295px;
    z-index: 5;
    transition: all ease 0.3s;
	font-family: 'Cutrims';
}
.profile-name h2 span {
    color: #ccc;
    font-size: 20px;
    display: block;
    font-weight: 400;
    margin: 5px;
    transition: all ease 0.3s;
	font-family: 'glaresome';
}
.profile-social {
    position: relative;
    opacity: 0;
    transition: all ease 0.3s;
    padding: 0 0 20px 0;
    z-index: 5;
}
.profile-social ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.profile-social ul li {
    display: inline-block;
    margin: 0;
}
.profile-social ul li a {
    width: 40px;
    height: 40px;
    display: block;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    background: #303030;
    color: white;
}
.profile-social ul li a:hover {
    background: #7b1733;
}

.call_to_action a.cta_btn{
	padding: 10px 30px;
	display: inline-block;
	color: #fff;
	font-family: "Cutrims", arial;
	font-size: 25px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-decoration: none;
	text-align: center;

	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;

	background-color: #eba151;

	box-shadow: 0 3px 0 #cd8335;
	-moz-box-shadow: 0 3px 0 #cd8335;
	-webkit-box-shadow: 0 3px 0 #cd8335;
	-o-box-shadow: 0 3px 0 #cd8335;
}

.call_to_action a.cta_btn:hover{
	background: #e69b4c;
}

.pulse1 {
    position: absolute;
    width: 270px;
    height: 270px;
    margin: auto;
    top: -158px;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    opacity: 0;
    border: 2px solid rgba(255, 255, 255, .1);
    -webkit-animation: pulsejg1 4s linear infinite;
            animation: pulsejg1 4s linear infinite;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    box-shadow: inset 0px 0px 15px 10px rgba(0, 0, 0, .6);
    box-sizing: border-box;
    transition: all ease 0.8s;
}
.pulse2 {
    position: absolute;
    width: 260px;
    height: 260px;
    margin: auto;
    top: -158px;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    opacity: 0;
    border: 10px solid rgba(0, 0, 0, .4);
    -webkit-animation: pulsejg2 4s linear infinite;
            animation: pulsejg2 4s linear infinite;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    box-shadow: inset 0px 0px 12px 5px rgba(255, 255, 255, .8);
    box-sizing: border-box;
    transition: all ease 0.8s;
}
@-webkit-keyframes pulsejg1 {
    0% {
        -webkit-transform: scale(.6);
        opacity: 0
    }
    50% {
        -webkit-transform: scale(.6);
        opacity: 0
    }
    60% {
        -webkit-transform: scale(.9);
        opacity: .1
    }
    70% {
        -webkit-transform: scale(1.1);
        opacity: .25
    }
    80% {
        -webkit-transform: scale(1.25);
        opacity: .1
    }
    100% {
        -webkit-transform: scale(1.4);
        opacity: 0
    }
}
@keyframes pulsejg1 {
    0% {
        transform: scale(.6);
        opacity: 0
    }
    50% {
        transform: scale(.6);
        opacity: 0
    }
    60% {
        transform: scale(.9);
        opacity: .1
    }
    70% {
        transform: scale(1.1);
        opacity: .25
    }
    80% {
        transform: scale(1.25);
        opacity: .1
    }
    100% {
        transform: scale(1.4);
        opacity: 0
    }
}
@-webkit-keyframes pulsejg2 {
    0% {
        -webkit-transform: scale(.6);
        opacity: 0
    }
    40% {
        -webkit-transform: scale(.8);
        opacity: .05
    }
    50% {
        -webkit-transform: scale(1);
        opacity: .1
    }
    60% {
        -webkit-transform: scale(1.1);
        opacity: .3
    }
    80% {
        -webkit-transform: scale(1.2);
        opacity: .1
    }
    100% {
        -webkit-transform: scale(1.3);
        opacity: 0
    }
}
@keyframes pulsejg2 {
    0% {
        transform: scale(.6);
        opacity: 0
    }
    40% {
        transform: scale(.8);
        opacity: .05
    }
    50% {
        transform: scale(1);
        opacity: .1
    }
    60% {
        transform: scale(1.1);
        opacity: .3
    }
    80% {
        transform: scale(1.2);
        opacity: .1
    }
    100% {
        transform: scale(1.3);
        opacity: 0
    }
}