* {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  -ms-appearance: none !important;
  -o-appearance: none !important;
  appearance: none !important;
  outline: none !important;
  transition: 0.4s;
  -o-transition: 0.4s;
  -moz-transition: 0.4s;
  -webkit-transition: 0.4s;
  font-family: 'Quicksand', sans-serif;
}

@font-face {
    font-family: 'Cutrims';
    src: url('../Cutrims_Regular');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'glaresome';
    src: url('../glaresome');
    font-weight: normal;
    font-style: normal;
}

a {
  transition: 0.4s;
  -o-transition: 0.4s;
  -moz-transition: 0.4s;
  -webkit-transition: 0.4s;
  text-decoration: none !important;
}
a:hover {
  text-decoration: none !important;
}

body {
	
  background: #fc7b7b;
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #fc7b7b), color-stop(100%, #a6c1ff));
  background: linear-gradient(135deg, #fc7b7b 0%, #a6c1ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc7b7b', endColorstr='#a6c1ff', GradientType=1 );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h4 {
  color: #9b59b6;
  text-align: center;
  font-family: 'Cutrims', sans-serif;
}

#holder {
  width: 600px;
  height: 320px;
  background-color: #fff;
  box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.2);
  margin-top: -160px;
  margin-left: -300px;
  position: absolute;
  top: 50%;
  left: 50%;
}

/* #divider {
  width: 1px;
  height: 200px;
  background-color: #9b59b6;
  margin-top: -100px;
  margin-left: -0.5px;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0.5;
}*/

#main-title {
  text-align: center;
  text-shadow: 2px 0 3px rgba(0, 0, 0, 0.5);
  color: #fff;
  font-weight: 300;
  padding-bottom: 5rem;
  font-family: 'Roboto', sans-serif;
}

h1{
  color: #ffffffff;
  text-align: center;
  margin-top:70px;
  font-family: 'Cutrims', sans-serif;
}

/*#login-holder {
  width: 300px;
  height: 275px;
  background-color: #fff;
  padding: 100px 25px;
  float: left;
  position: absolute;
  display: inline-block;
  font-family: 'Cutrims', sans-serif;
}
#login-holder a {
  display: none;
  font-size: 10px;
  float: right;
  margin-top: 5px;
  font-family: 'Cutrims', sans-serif;
}
#login-holder #login {
  width: 150px;
  height: 30px;
  background-color: #9b59b6;
  color: #fff;
  margin: 15px 50px;
  display: inline-block;
  border: none;
  font-family: 'Cutrims', sans-serif;
}
#login-holder #login:hover {
  transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  
}*/

#signup-holder {
  width: 600px;
  height: 320px;
  background-color: #fff;
  padding: 100px 25px;
  display: inline-block;
  float: right;
  font-family: 'Cutrims', sans-serif;
}
#signup-holder #signup {
  width: 150px;
  height: 30px;
  background-color: #9b59b6;
  color: #fff;
  margin: 15px 50px;
  display: inline-block;
  border: none;
  margin-left:200px;
}
#signup-holder #signup:hover {
  transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
}

input {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  width: 250px;
  height: 30px;
  margin-top: 20px;
  display: inline-block;
  border: none;
  border-radius: 0px;
  text-indent: 10px;
  display: none;
  margin-left:150px;
}
